<!DOCTYPE html>
<html>

<head>
	<title> Home Page </title>
</head>

<style>
	body {
		background-color:cyan;
	}

	.content {
		background-color:white;
        	position:absolute;
            	top:50%;
            	left:50%;
            	transform:translate(-50%, -50%);
		width:450px;
		height:500px;
            	border:2px solid;
		display:flex;
		align-text:center;
		align-items:center;
		justify-content:center;
        }
</style>

<body>

	<div class="content", width=200px>
		<form method="POST" action=''>
			<h1> Login Page </h1> <br> <br> <br>
			<input type="text" placeholder="Username" name="username" required> <br> <br> <br> <br>
			<input type="password" placeholder="Password" name="password" required> <br> <br> <br> <br>
			<input type="submit"> <br> <br>
		</form>
	</div>

</body>

</html>